:root {
  --primary-color: #1b4965;
  --secondary-color: #5fa8d3;
  --accent1-color: #0b1320;
  --accent2-color: #f4f4f4;

  --heading-font: Arial, Helvetica, sans-serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: var(--accent2-color);
}

header, main, footer {
  width: 640px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 1px;
  padding: 8px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
  opacity: 0.85;
  background-color: var(--accent1-color);
  color: #fff;
}
.hero article {
  position: center;
  bottom : 20px;
  left: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.85);
  padding: 10px;
}
.hero article h2 {
  margin-top: 0;
}
.hero article p {
  margin-bottom: 0;
}
.hero article img {
  float: right;
  width: 520x;
  margin-left: 16px;
}

.socialmedia a {
  text-decoration: none;
}
.socialmedia img {
  width: 320px;
  height: 320px;
  margin: 8px;
}
footer {
  text-align: center;
  font-size: 0.75em;
  padding: 16px;
}
footer a {
  color: var(--primary-color);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer a:visited {
  color: var(--secondary-color);
}
footer a:active {
  color: var(--accent1-color);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
nav ul {
  list-style-type: none;
  background-color: var(--primary-color);
  overflow: hidden;
}
nav ul li {
    float: left;
}
header img {
  width: 300px;
  height: auto;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

