body {
  font-family: Arial, sans-serif;
}

main {
  max-width: 840px;
  margin: 0 auto;
}

main img {
  width: 150px;
  height: auto;
}

aside {
  width: 300px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #f4f4f4;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 1rem 0;
}

